<% provide(:title, 'All User') %>
<h1>All courses</h1>
<%= will_paginate %>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Avatar</th>
        <th>Name</th>
        <th>Role</th>
        <th>Created at</th>
        <th>Modified</th>
      </tr>
    </thead>
    <tbody>
      <%= render @users %>
    </tbody>
  </table>
</div>
<%= will_paginate %>
