<% provide(:title, 'All Courses') %>
<h1>All courses</h1>
<%= will_paginate %>
<%= link_to "Add", new_admin_course_path, class: "glyphicon glyphicon-plus" %>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Created at</th>
        <th>Modified</th>
      </tr>
    </thead>
    <tbody>
      <%= render @courses %>
    </tbody>
  </table>
</div>
<%= will_paginate %>
